[submodule "efitools"]
	path = efitools
	url = git://git.kernel.org/pub/scm/linux/kernel/git/jejb/efitools.git
    ignore = dirty
[submodule "shim"]
	path = shim
	url = https://github.com/tklengyel/shim
    ignore = dirty
[submodule "gnu-efi"]
	path = gnu-efi
	url = https://github.com/tklengyel/gnu-efi
    ignore = dirty
[submodule "tboot"]
	path = tboot
	url = https://github.com/tklengyel/tboot
    ignore = dirty
[submodule "xen"]
	path = xen
	url = https://github.com/tklengyel/xen
    ignore = dirty
